@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:focus {
  
  font-family: 'Nunito', 'Roboto', 'Oxygen';
  outline: none !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.far{
  background-color: #000;;
}

.stars{
  pointer-events: none;
}

.container-produtos{
  max-width: 1200px;
  margin: 0 auto 50px;;
  display: grid;
  column-gap: 50px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}